@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px red solid;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scrollbar-visible {
  scrollbar-width: auto; /* Firefox */
  -ms-overflow-style: auto; /* IE 10+ */

  /* Chrome/Safari/WebKit */
}
.scrollbar-visible::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.scrollbar-visible::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
